@model ProductViewModel


<div class="content-wrapper">
    ----------------------

    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" style="border:1px solid #ccc;">
                    <h4 class="card-title">Add Product</h4>
                    <form method="post" class="forms-sample" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control" style="border:1px solid #ccc;" placeholder="product name">
                            <span asp-validation-for="Name"></span>
                            <br>
                            <label>Image File</label>
                            <input asp-for="ImageFile" type="file" class="form-control" />
                            <span asp-validation-for="ImageFile"></span>
                            <br>
                            <label>Price</label>
                            <input asp-for="Price" class="form-control" style="border:1px solid #ccc;" placeholder="Price">
                            <span asp-validation-for="Price"></span>
                            <br>
                            <input asp-for="Description" class="form-control" style="border:1px solid #ccc;" placeholder="Description">
                            <span asp-validation-for="Description"></span>
                            <br>
                            <label>Discount Percent</label>
                            <input asp-for="DiscountPercent" class="form-control" style="border:1px solid #ccc;" placeholder="DiscountPercent">
                            <span asp-validation-for="DiscountPercent"></span>
                            <br>
                            <label>Category</label>
                            <select asp-for="CategoryId" asp-items="Model.ListCategory" class="form-control" style="border:1px solid #ccc;">
                                <option value="">-- Kateqoriya seçin --</option>
                            </select>
                            <span asp-validation-for="CategoryId"></span>

                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a asp-controller="Product" asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>